body{
    margin: 0px;
    background-image: url(./photo6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{

    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    height: 600px;
    margin: auto;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 20px;
    color: white;

}

h1{
    text-align: center;
    margin-bottom: 50px;

}

input{

    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
}

button{
    font-size: 16px;
    width: 100px;
    padding: 10px;
    border: 0px;
    margin-bottom: 25px;
}

#resultado{

    font-size: 16px;

}